@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    scroll-behavior: smooth;
}
body{
    font-family: Poppins;
}
.banner-main-text{
    font-size: 46px;
}
.text-color{
    color: #000000;
    opacity: 0.7;
    line-height: 2.13;
}
.primary-button-text{
    font-size: 15px;
}
.section-heading{
    font-size: 40px;
    font-weight: 600;
}
.section-description{
    font-size: 16px !important;
}
.sub-description{
    font-size: 14px !important;
}
.section-content-text{
    font-size: 12px;
}
.section-sub-heading{
    font-size: 24px;
}
.carousel-text{
    font-size: 24px;
}
.footer-heading{
    font-size: 20px;
    font-weight: 500;
}
.sub-content-wrapper-top{
    padding-top: 40px !important;
}
.sub-content-wrapper-bottom{
    padding-bottom: 40px !important;
}
.sub-content-wrapper-left{
    padding-left: 50px !important;
}
.content-wrapper-left{
    padding-left: 110px !important;
}
.content-wrapper-right{
    padding-right: 100px;
}
.content-wrapper-top{
    padding-top: 100px;
}
.content-wrapper-bottom{
    padding-bottom: 100px;
}
.sub-text{
    font-size: 12px;
    padding: 0 !important;
    padding-left: 30px;
}
.primary-color{
    background: #004bc6;
}
.white-color{
    color: #ffffff;
    font-family: Poppins;
}
.row{
    width: 100%;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    padding: 0;
}
.header{
    padding: 25px 60px 0 39px;
}
.navbar{
    padding: 0;
}
.navbar-brand{
    padding: 0px;
}
.main-nav{
    list-style: none;
    display: inline-block;
}   
.main-nav li{
    display: flex;
    float: left;
}
.main-nav li i{
    color: #4a4a4a;
    font-size: 24px;
    padding-left: 36px;
}
.main-nav li a:hover{
    background: none;
}
.main-nav li a:focus{
    background: none !important;
}
/* home banner */

.home-banner{
    position: relative;
    margin: 0px;
}
.banner-text{
    top: 150px;
    position: relative;
    font-weight: 200;
    line-height: 1.2;
}
.btn{
    padding: 18px 24px;
    border-radius: 36px;
    margin-top: 20px;
}
.btn:focus{
    background: #004bc6;
    color: #ffffff;
    border: none !important;
}
.btn:hover{
    background: #004bc6;
    color: #ffffff;
}
.banner-img img{
    width: 100%;
    height: auto;
}
.scroll{
    display: inline-block;
    padding-top: 30px;
}
.mouse{
    width: 22px;
    height: auto;
}
.scroll a{
    text-decoration: none;
    color: #000000;
    padding-left: 8px;
}
/* why us section */

.why-us-section{
    margin-top: 60px;
}
.why-text{
    font-size: 30px !important;
    font-weight: 600;
}
.bat,.withdraw,.commission{
    width: 80px;
    height: 80px;
}
.why-point-1,.why-point-2,.why-point-3{
    margin-top: 50px;
}
.why-point-1 p,.why-point-2 p,.why-point-3 p{
    font-size: 18px;
    padding-top: 20px;
}
/* play section */
.hr-2{
    margin: 0px !important;
    border-top: 1px solid rgba(78,86,110,0.4);
    width: 75%;
    transform: translateX(15%);
    margin-top: 20px;
}
.hr-3{
    margin: 0px !important;
    border-top: 1px solid rgba(78,86,110,0.4);
    width: 83%;
    position: absolute;
    transform: translateX(10%)rotate(90deg);
    margin-top: 20px;
}
.play-img-left{
    position: relative;
    width: 250px;
    height: auto;
}
.play-img-right{
    position: relative;
    width: 250px;
    height: auto;
    transform: translateX(100%);
}
.girl-img{
    position: absolute;
    width: 85px;
    height: auto;
    top: 290px;
}
.girl-img-right{
    display: inline-block;
    width: 85px;
    height: auto;
    transform: translate(287px,74px);
}
.play-img-text{
    padding-top: 50px;
}
.play-text-right,.play-right-heading{
    padding-left: 40px !important;
}

/* download section */

.download-text{
    padding-top: 34px !important;
    line-height: 2.2;
    opacity: 0.7;
    font-weight: 200;
}
.android-btn{
    background: #ffffff;
    color: #004bc6;
    padding: 15px 35px;
    border: 1px solid rgba(255,255, 255, 0.5);
    display: inline-block;
}
.android-btn:hover{
    color: #fff !important;
} 
.android-btn:focus{
    background: #fff !important;
    color: #004bc6 !important;
}
.apple-btn{
    border: 1px solid rgba(255,255, 255, 0.5);
    padding: 15px 35px;
    margin-left: 20px;
}
.apple-btn:focus{
    background: #004bc6 !important;
    color: #fff;
    border: solid 1px #fff;
}
.scratch-card{
    height: auto;
    overflow: hidden;
    padding: 0;
}
.star{
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    left: 0;
    opacity: 0.4;
    transform: translate(0%,-0%)rotate(45deg);
}
.fa-circle-thin{
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    left: 0;
    opacity:0.4;
    transform: translate(65%,90%);
}
.card-1{
    width: 263px;
    height: 323px;
}
.card-2,.card-3,.card-4{
    width: 160px;
    height: 160px;
}
.card-4{
    position: absolute;
    bottom: 82px;
    margin-left: 5px;
}
/* testimonial slider */

.img-area{
    display: inline-block;
}
.img-area img{
    width: 108px !important;
    height: 108px !important;
    border-radius: 50%;
}
.img-text{
    display: inline-block;
    padding-left: 10px;
    vertical-align: 45px;
}
.text-area{
    opacity: 0.6;
    color: #000000;
    line-height: 2.14;
    text-align: justify;
    padding-top: 10px !important;
}
.item{
    padding: 90px 80px 0 0;
}
.owl-stage-outer{
    height: auto;
}
.owl-nav{
    margin-top: 40px !important;
}
.owl-nav i{
    font-size: 60px;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;
}
.owl-nav i:hover,.owl-next:hover,.owl-prev:hover{
    border-color: none !important;
    border-style: none !important;
    background: transparent !important;
    color: #004bc6 !important;
}
:focus{
    outline: none !important;
}

/* feedback section */

.sitting-man-img1{
    width: 174px;
    height: 279px;
    margin-top: 50px;
}
.form-section{
    padding-left: 100px;
}
.form-btn{
    display: block;
    padding: 15px 100px;
}
.feedback-message{
    background: #fff;
    border-radius: 6px;
    width: 95%;
    padding: 15px;
    margin-top: 12px;
}
.feedback-message:focus{
    border-color: #004bc6 !important;
    background: #fff;
}
/* footer section */

.bg-grey{
    background: #2d3339;
}
.section-text{
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0.94px;
    line-height: 1.8;
    padding-top: 20px;
}
.footer-social-media li{
    display: inline-block;
}
.footer-social-media i{
    color: #ffffff;
    font-size: 30px;
    padding-right: 30px;
}
.copyright{
    padding-top: 50px;
    opacity: 0.5;
    letter-spacing: 0.24px;
}
.link{
    font-size: 17px;
    padding: 15px 0px 30px 0px;
}
.link a{
    color: #ffffff  !important;
}

/* responsive */
@media only screen and (max-width : 769px){
/* generic classes */
    .section-heading{
        font-size: 20px;
        text-align: center;
    }
    .section-description{
        font-size: 12px !important;
    }    
    .section-sub-heading{
        font-size: 18px;
    }    
    .content-wrapper-left{
        padding-left: 25px !important;
    }
    .content-wrapper-right{
        padding-right: 25px;
    }
    .content-wrapper-top{
        padding-top: 25px;
    }
    .content-wrapper-bottom{
        padding-bottom: 25px;
    }
/* header section */
    .logo-1{
        width: auto;
        height: 45px;
    }
    .main-nav{
        position: absolute;
        top: 5px;
        right: 30px;
        padding-left: 25px;
    }
    .main-nav li i{
        padding-left: 20px;
        font-size: 25px;
    }
    .navbar-nav>li>a{
        padding: 0px;
    }
    .navbar-brand{
        padding: 5px 15px;
    }
    .banner-img img{
        width: 100%;
        padding-bottom: 20px;
    }
    .header{
        padding: 5px 0 0 5px;
    }
    .banner-main-text{
        font-size: 25px;
    }
    .primary-button-text{
        font-size: 12px;
        padding: 12px 25px;
    }
    .banner-text{
        top: 10px;
        margin: 25px 0px;
    }
    .play-header{
        padding-top: 5px;
    }
    .scroll{
        padding: 0 !important;
        text-align: center;
        margin: 0px !important;
    }
/* why us section */
    .bat,.withdraw,.commission{
        width: 75px;
        height: auto;
        margin-bottom: 20px;
    }
    .why-us-section{
        margin-top: 30px;
    }
    .why-text{
        text-align: center;
    }
/* play section  */
    .play-text{
        text-align: center;
        padding-left: 25px;
    }
    .play-img-left{
        display: inline-block;
        margin-right: auto;
    }
    .play-img-right{
        display: inline-block;
        transform: translateX(90px);
    }
    .play-text-right,.play-right-heading{
        padding-left: 10px !important;
    }
    .girl-img{
        top: 217px;
    }
    .girl-img-right{
        position: absolute;
        transform: translate(44px,189px);
    }
    .play-img-text{
        padding-top: 25px;
    }
    .hr-2,.hr-3{
        display: none !important;
    }    
/* feedback section */
    .sitting-man-img1{
        display: block;
        width: 120px;
        height: auto;
        margin: 20px auto;
    }
/* download section */
    .download-content{
        padding-top: 20px;
    }
    .download-text{
        padding-top: 5px !important;
    }
    .android-btn{
        padding: 15px 25px;
        align-content: center;
        font-size: 11px !important;
    }
    .apple-btn{
        margin-left: 0px;
        padding: 15px 25px;
        font-size: 11px !important;
        left: 0;
    }
    .scratch-card{
        height: auto;
        overflow: hidden;
        padding-left: 30px;
    }
    .card-1{
        width: 220px;
        height: auto;
        display: block;
        margin: 20px auto;
    }
    .card-2,.card-3{
        width: 150px;
        height: 150px;
        display: inline-block;
    }
    .card-4{
        width: 150px;
        height: 150px;
        display: inline-block;
        bottom: 0;
    }
    .star,.circle-1{
        display: none;
    }
/* testimonial section */
    .item{
        padding: 40px 0 0 0;
    }
    .owl-nav i{
        font-size: 30px;
    }
/* feedback section */
    .form-section{
        padding-left: 25px;
    }
    .feedback-message{
        width: 100%;
    }
    .form-btn{
        padding: 12px 40px !important;
    }
/* footer section */
    .link{
        padding-bottom: 40px;
        font-size: 14px;
    }
    .address,.phone,.email,.contact{
        padding: 0px !important;
    }
    .footer-heading{
        padding-top: 20px;
    }
    .section-text{
        padding-top: 0px;
        opacity: 0.7;
    }
}
@media only screen and (min-width: 1400px){
    .hr-3,.hr-2{
        display: none;
    }
}